
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

$font-1: 'Maven Pro';
$font-2: 'Dosis', sans-serif;
$font-3: 'Josefin Sans', serif;

$color-1: #253337;
$color-2: #5C6C73;
$color-3: #9DB5C0;
$color-4: #C2E0E3;
$color-5: #E0FCFC;

$white: #ddd;
$black: #333;

$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  margin: 1rem auto;

  max-width: 95%;
  font-family: $font-1;
  color: $black;
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}
a:visited {
  color:$black;
}
.home, .knowledges, .portfolio, .contact {
  display: flex;

  @media screen and (max-width: 850px){
    display: block !important;
  }
}
.homeContent, .knowledgesContent, .portfolioContent, .contactContent {
  margin-left: .4rem;

  @media screen and (max-width: 850px){
    margin-left: 0 !important;
  }
}
